@import url('https://fonts.googleapis.com/css?family=Ubuntu');
*{
	font-family:Ubuntu;
	text-decoration: none;
}
header{
	display: grid;
	background-color:#fff; 
	left: 0%;
	top: 0%; 
	width: 100%;
	height: 100px;
}
header .header-brand{
	
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 900;
	color: #111; 
	display: block;
	margin: auto 0;
	text-align: center;
}
body{
	margin: 0;
	padding: 0;
}

header nav ul {
	display: block;
	margin: 1em auto 0 auto;
}

header nav ul li {
	display: inline-block;
	list-style: none;
	float: left;
	padding: 0 3%;
}

header nav ul li a {
	text-transform: uppercase;
	font-size: 16px;
	color: #111;
}

/*---INDEX---*/

.index-banner{
	width: 100%;
	height: calc(100vh*0.4);
	background-image:url('dist/img/me.jpg'); 
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: table;
}
.vertical-center{
	display: table-cell;
	vertical-align: middle;
}
.index-banner h2{
	position: relative;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	top: 10%;
	font-size: 40px;
	font-weight: 900;
	line-height: 50px;
	color: #fff; 
	text-align: center;
	text-shadow: 2px 2px 8px #111 ;
}
.index-banner h1{
	position: relative;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	top: 20%;
	font-size: 10px;
	font-weight: 100;
	font-style: italic;
	line-height: 2em;
	color: #fff; 
	text-align: center;
	text-shadow: 2px 2px 8px #111 ;
}

.index-links div{
	margin: 16px 16px 0;
	width: calc(100%-32px);
	height: 100px;
	background-color: #f2f2f2;
}

.index-links div h3{
	font-size: 24px;
	font-weight: 500;
	line-height: 100px;
	color: #111; 
	text-align: center;
	text-transform: uppercase;

}
footer{
	width: calc(100%-80px);
	padding: 40px;
	margin-top: 20px;
	background-color: #111;
}
footer ul{
	width: fit-content;
	display: inline-block;
	margin: 0 auto;
	padding-left: 20px; 
	letter-spacing: 2px;
}
footer ul li {
	list-style: none;
}
footer ul li a {
	text-transform: uppercase;
	font-size: 14px;
	color: #999;
}
